* {
  box-sizing: border-box;
}

body {
  background-color: #2b2d42;
  color: brown;
  font-size: 1.5rem;
  user-select: none;
  overflow: hidden;
  font-family: 'Programme';
}

@font-face {
  font-family: "Programme";
  font-style: normal;
  font-weight: normal;
  src: local("Programme"),
    url("Programme-Regular.woff2") format("woff2");
}

.bookmarks-container::-webkit-scrollbar {
  width: 0.1em;
}

.bookmarks-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.bookmarks-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.bookmarks-title-container::-webkit-scrollbar {
  width: 0em;
}

.bookmarks-title-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.bookmarks-title-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  margin-top: 10px;
  margin-right: 10px;
  gap: 10px;
}

.bookmarks-title-container {
  display: flex;
  overflow-y: auto;
  max-height: 92vh;
  overflow-x: hidden;
  gap: 10px;
  border-radius: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  transition: transform 1s ease;
  align-items: flex-start;
  padding: 10px;
}

.bookmarks-title-container button {
  border: none;
  outline: transparent;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1rem;
  font-family: 'Programme';
  display: flex;
  justify-content: center;
  transition: opacity 0.3s ease;
  max-width: 300px;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
}
.bookmarks-title-container button::selection {
  background-color: #2b2d42;
}

.bookmarks-title-container button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.bookmarks-container {
  overflow-y: auto;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: max-content;
  max-height: 92vh;
  min-height: 92vh;
  overflow-x: hidden;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.bookmarks-container li {
  display: flex;
  min-width: 200px;
  min-height: 150px;
  max-height: 150px;
  padding: 1rem;
  padding-top: 1.5rem;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s ease;
  background-color: #1d1f1f;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.3),
  inset 0 5px 0 0 rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-width: 2px;
  line-height: 1.7rem;
}

.bookmarks-container li::before {
  content: "";
  width: 110%;
  height: 15%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.01) 5%,
    #1d1f1f 20%
  );
  position: absolute;
  transform: translateX(-6%);
  border-radius: 5px;
  bottom: 0;
  transition: transform 0.3s ease;
  z-index: 1;
}

.bookmarks-container li:hover:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: translateY(100%);
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.bookmarks-container li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
  padding: 5px;
  height: fit-content;
}

.bookmarks-container li a::before {
  content: "";
  background-image: linear-gradient(
    to right,
    #f44336,
    #e91e63,
    #9c27b0,
    #673ab7,
    #3f51b5,
    #2196f3,
    #03a9f4,
    #00bcd4,
    #009688,
    #4caf50,
    #8bc34a,
    #cddc39,
    #ffc107,
    #ff9800,
    #ff5722
  );
  position: absolute;
  width: 0%;
  height: 100%; 
  transition: width 0.3s ease;
  transform: translate(0, 1000%);
  display: flex;
}

.bookmarks-container li a:hover::before {
  width: 100%;
  transition: width 0.3s ease;
}

.bookmarks-container li a:active {
  background-color: transparent;
}

.bookmarks-container li a span {
  font-size: 0.8em;
  font-style: italic;
  font-variant: normal;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
}

.bookmarks-container li .del-btn {
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0.5rem;
  right: 0.1rem;
  display: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 12px;
}

.bookmarks-container li .del-btn:hover {
  background-color: #e91e63;
}

.bookmarks-container li:hover button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.bookmarks-container li:has(button:hover) {
  transform: scale(0.98);
  transition: transform 0.3s ease;
}

.bookmarks-container button {
  grid-column: span 4;
  display: flex;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: transparent;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 5px;
  font-variant: small-caps;
  font-size: 1.1rem;
  margin: 1px;
}

.displaced-li {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}

.delete-modal {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #4caf50;
  bottom: 0;
  border-radius: 10px;
  right: 0;
  height: 100%;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.delete-modal p {
  font-size: clamp(0.5em, 0.8em, 1em);
  padding: 0;
  font-weight: 100;
  font-variant: normal;
  font-style: italic;
}

.ok {
  min-width: 50px;
  justify-content: center;
  height: fit-content;
}

.No {
  min-width: 50px;
  justify-content: center;
  height: fit-content;
}

.bookmarks-container li .img-holder {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  background-size: 25px;
  margin-right: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px;
  font-weight: bold;
  font-size: 1.5rem;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background-position: center;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 50px 5px rgba(255, 255, 255, 0.1);
  transform: translateY(10%);
  position: relative;
  filter: brightness(70%);
}
.bookmarks-container li:has(.delete-modal) .del-btn {
  display: none;
}

#contextMenu {
  position: absolute;
  list-style-type: none;
  padding: 0;
  display: none;
  border-radius: 5px;
  display: flex;
  align-content: center;
}

.delete-title-btn {
  border-radius: 100px;
  background-color: #e91e63;
}

.menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  gap: 5px;
  align-items: center;
  padding: 5px;
}
.new-bookmark {
  border: none;
  outline: transparent;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 10;
  transform: translateY(-250%);
  z-index: 0;
  transition: transform 1s ease;
}

.search-box {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: clamp(0.5rem, 1rem, 1.2rem);
}

.search-box::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-variant: small-caps;
}

.divider-line {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  max-height: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 5px;
}

.most-visited {
  background-color: #009688;
  order: 1;
}

.empty-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  color: rgba(255, 255, 255, 0.3);
  font-style: italic;
}
